body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    background-color: aliceblue;
}
.main{
    margin-top: 50px;
    border: 1px solid black;
    width: 400px;
    padding: 10px;
    background-color: rgb(215, 236, 255);
    box-shadow: 0px 0px 10px black;

}
button{
    font-size: 18px;
     border-radius: 10px;
    background-color: aliceblue ;
}
button:hover{
    color: aliceblue  ;
    background-color: black;
}